<link rel="stylesheet" href="/static/css/georoygestry.css" type="text/css" media="all" charset="utf-8">
<script src="http://maps.google.com/maps/api/js?v=3.3&amp;sensor=false"></script>
<link rel="stylesheet" href="http://openlayers.org/api/theme/default/style.css" type="text/css" media="all" charset="utf-8">
<script> 
var map, layer, tags;
widgetActivators.country_map = (function(){
  $(function(){
    var polyMaps = $.ajax({
      url: "http://maps.georegistry.org/files/polymaps.min.js",
      dataType: 'script'
    });
    var openLayers = $.ajax({
      url: "http://openlayers.org/api/OpenLayers.js",
      dataType: 'script'
    });
    var launchScript = $.ajax({
      url: '/static/js/src/launchOpenLayers.js',
      dataType: 'script',
    });
    $.when(openLayers, launchScript).done(function(unk, status){
      LaunchOpenLayers("#map-bar");
      switchme("#bloup");
    });
  });
});


</script> 

<style type="text/css">

h2.indicator-head {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: .3em;
}

#layer-select {
    font-size: 1.1em;
    font-weight: bold;
    
}

.mapped-indicator {
    text-align: justify;
    padding: .5em;
    
}
</style>

<div id="map-bar">
	<div class="map-h frontpage map-bar map-l">
    	<div id="map"></div> 
	</div>
	<div class="map-h map-bar map-r">
        <h2 class="indicator-head">Nigeria Mapped Indicators</h2>
    	<select id="layer-select">
        <option value="nigeria">Nigeria</option>
        <option value="nigeria_child_health">Nigeria Child Health</option>
        <option value="nigeria_child_nutrition">Nigeria Child Nutrition</option>
        <option value="nigeria_malaria">Nigeria Malaria</option>
        <option value="nigeria_maternal_health">Nigeria Maternal Health</option>
        <option value="nigeria_primary_education_enrollment">Nigeria Primary Education Enrollment</option>
        </select>
        <div id="mapped-nigeria" class="mapped-indicator">
            <p>Select an Indicator above to display it on the map.</p>
        </div>
        <div id="mapped-nigeria_child_health" class="mapped-indicator" style="display:none;">
            <p>This map represents the health status of children under 5 years of age by state, based on a combination of factors: immunization rates (DPT, measles), skilled birth attendance, postnatal visitation, bednet usage, child mortality, and access to appropriate treatment for severe dehydration and malaria.</p>
            <p>Data comes from the DHS survey 2008.</p>
        </div>
        <div id="mapped-nigeria_child_nutrition" class="mapped-indicator" style="display:none;">
            <p>This map represents an overview of child nutrition by state, based on the proportion of children in each state who are underweight, wasted, and/or stunted.</p>
            <p>Data comes from the DHS survey 2008.</p>
        </div>
        <div id="mapped-nigeria_malaria" class="mapped-indicator" style="display:none;">
            <p>This map represents the status of malaria by state, as measured by the proportion of households that have at least one insecticide-treated bed net, the proportion of children under 5 who sleep under insecticide-treated bed nets, and proportion of children under 5 with access to appropriate anti-malaria treatment.</p>
            <p>Data comes from the DHS survey 2008.</p>
        </div>
        <div id="mapped-nigeria_maternal_health" class="mapped-indicator" style="display:none;">
            <p>This map represents the status of maternal health services by state, including antenatal care, skilled birth attendance, postnatal visitation, and HIV testing during pregnancy.</p>
            <p>Data comes from the DHS survey 2008.</p>
        </div>
        <div id="mapped-nigeria_primary_education_enrollment" class="mapped-indicator" style="display:none;">
            <p>NO DESCRIPTION?</p>
        </div>
    	
	</div>
</div>
<div class="clearfix"></div>
