<link rel="stylesheet" href="/static/css/georoygestry.css" type="text/css" media="all" charset="utf-8">
<script> 
var map, layer, tags;
widgetActivators.country_map = (function(){
	$(function(){
		var polyMaps = $.ajax({
			url: "http://maps.georegistry.org/files/polymaps.min.js",
			dataType: 'script'
		});
		var launchScript = $.ajax({
			url: '/static/js/src/launchPolymaps.js',
			dataType: 'script',
		});
		$.when(polyMaps, launchScript).done(function(unk, status){
			LaunchRoysMap();
		});
	});
});
</script> 


<div class="map-h map-bar map-l">
    <div id=map style="width:540px;height:400px; postition:relative;"></div> 
</div>
<div class="map-h map-bar map-r">
    <div id="tags"></div>
    <img src="/static/sample_imgs/country_featured_maps.png">
</div>
<div class="clearfix"></div>