<link rel="stylesheet" href="/static/css/georoygestry.css" type="text/css" media="all" charset="utf-8">
<script src="http://maps.google.com/maps/api/js?v=3.3&amp;sensor=false"></script>
<link rel="stylesheet" href="http://openlayers.org/api/theme/default/style.css" type="text/css" media="all" charset="utf-8">
<script> 
var map, layer, tags;
widgetActivators.country_map = (function(){
  $(function(){
    var polyMaps = $.ajax({
      url: "http://maps.georegistry.org/files/polymaps.min.js",
      dataType: 'script'
    });
    var openLayers = $.ajax({
      url: "http://openlayers.org/api/OpenLayers.js",
      dataType: 'script'
    });
    var launchScript = $.ajax({
      url: '/static/js/src/launchOpenLayers.js',
      dataType: 'script',
    });
    $.when(openLayers, launchScript).done(function(unk, status){
      LaunchOpenLayers("#map-bar");
    });
  });
});
</script> 

<div id="map-bar">
	<div class="map-h frontpage map-bar map-l">
    	<div id="map"></div> 
	</div>
	<div class="map-h map-bar map-r">
    	<div id="tags"></div>
    	<img src="/static/sample_imgs/country_featured_maps.png">
	</div>
</div>
<div class="clearfix"></div>
