<div id="lga-mdg-table" class="mdg-indicators-only display-block-when-ready">
	<div id="mdg-tabs">
		<ul>
			{% for sector in indicator_list.sectors %}
			<li>
				<a href="#{{sector.slug}}">
					{{sector.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% for sector in indicator_list.sectors %}
		<div id="{{sector.slug}}">
			<p>{{sector.name}}</p>
		</div>
		{% endfor %}
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	widgetActivators.lga_mdg_table = function(){
		$(function(){
			$('#mdg-tabs').tabs();
			$('#lga-mdg-table').addClass('ready');
		});
	}
</script>