<div id="lga-mdg-table" class="mdg-indicators-only display-block-when-ready">
	<div id="mdg-tabs">
		<ul>
			<li>
				<a href="#health">
					Health
				</a>
			</li>
			<li>
				<a href="#education">
					Education
				</a>
			</li>
			<li>
				<a href="#infrastructure">
					Infrastructure
				</a>
			</li>
			<li>
				<a href="#water">
					Water
				</a>
			</li>
		</ul>
		<div id="health">
			Health
			<table border="0" cellspacing="5" cellpadding="5">
				<tr><th>Facility</th></tr>
				<tr><td>Facility</td></tr>
			</table>
		</div>
		<div id="education">
			Education
		</div>
		<div id="infrastructure">
			Infrastructure
		</div>
		<div id="water">
			Water
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	widgetActivators.lga_mdg_table = function(){
		$(function(){
			$('#mdg-tabs').tabs();
			$('#lga-mdg-table').addClass('ready');
		})
	}
</script>