<link rel="stylesheet" href="/static/openlayers/default/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
<div class="facilities-only" id="lga-facilities-wrap">
	<div id="lga-facilities-map">
	</div>
	<div id="lga-facilities-table" class="display-block-when-ready">
	</div>
</div>
<style type="text/css" media="screen">
	table.facility-list {
		width: 100%;
	}
	tr.selected-facility td {
		background-color: #eee;
		border-color: #ddd;
	}
	table.facility-list td {
		padding: 2px 5px;
		border: 1px solid #eee;
	}
	td.col-power_sources_none, td.col-type_staff_nurse_midwife, td.col-emergency_obstetrics_yn, td.col-antimalarials_stockout_yn {
		text-align: center;
	}
	#image-nav {
		padding: 3px 20px;
		height: 150px;
	}
	#image-nav .image-iwrap {
		width: 100%;
		overflow: auto;
		height: 130px;
	}
	#image-nav ul {
		width: 999em;
	}
	#image-nav li {
		list-style-type: none;
		margin-right: 8px;
	}
	.img-wrap {
		background-color: #666;
		width: 100px;
		height: 100px;
		border: 1px solid black;
		float: left;
	}
</style>
<script type="text/javascript" charset="utf-8">
var defaultSectorSlug = 'health';
var facilityDataLoaded = function(){};
widgets.push(function(){
	facilityDataLoaded = function(){
		function getKeys(x){
			var keys = [];
			$.each(x, function(i){keys.push(i)});
			return keys;
		}
		$('body').bind('facility-click', function(evt, edata){
			var facility = facilityData.list[edata.uid];
			$('.ui-dialog').remove();
			$('<div />').text("Clicked on point with data: " + getKeys(facility)).dialog();
		});
		$('body').bind('facility-mouseover', function(evt, edata){var facility = facilityData.list[edata.uid];});
		$('body').bind('facility-mouseout', function(evt, edata){var facility = facilityData.list[edata.uid];});
		$('body').bind('sector-change', function(evt, edata){var sector = edata.sector;});
		/* actions to be taken for the facility navigation table and image stuff.
		*/
		$('body').bind('facility-click', function(evt, edata){
			var facility = facilityData.list[edata.uid];
			$('.selected-facility').removeClass('selected-facility');
			$(facility.tr).addClass('selected-facility');
		});
		$('body').bind('sector-change', function(evt, edata){
			var sector = edata.sector;
	//		populateImageDivForSector(sector);
		});
		
		
		var facilityTableWrap = $('#lga-facilities-table').html($('<div />', {'id': 'facility-tabs'}).html($('<ul />'))).append($('<div />', {'id':'image-nav'}));
		var ftabs = $('div#facility-tabs', facilityTableWrap);
		var ftabUl = $('ul', ftabs);
		var imageNavigation = $('div#image-nav', facilityTableWrap);

		$.each(facilitySectors, function(i, sector){
			var li = $("<li />");
			li.append($("<a />", {'href':'#facilities-'+sector.slug}).text(sector.name));
			ftabUl.append(li);
			ftabs.append(createTableForSectorWithData(sector, facilityData));
		});

		$(facilityTableWrap).trigger('sector-change', {sector: defaultSectorSlug});

		ftabs.tabs({select: function(evt, ui){
			$(evt.target).trigger('sector-change', {sector: $(ui.panel).data('sector-slug')})
		}});
		$('#lga-facilities-wrap').height($(window).height()-160);
		$('#facility-tabs').height(220);
		$('#facility-tabs').find('.ui-tabs-panel').css({'overflow':'auto','height':'75%'})
		facilityTableWrap.addClass('ready');
		loadMap(facilityData);
	}
	
	function createTableForSectorWithData(sector, data){
		var div = $("<div />", {id: 'facilities-'+sector.slug}).text(sector.name).data('sector-slug', sector.slug);
		var table = $('<table />', {'class':'facility-list'});
		var thRow = $("<tr />");
		table.append($("<thead />").html(thRow));
		if(sector.columns!==undefined && sector.columns.length>0 && data.bySector[sector.name]!==undefined && data.bySector[sector.name].length>0) {
			$.each(sector.columns, function(i, col){
				thRow.append($("<th />", {'class':'col-'+col[0]}).text(col[1]))
				});
			var tbod = $("<tbody />");
			$.each(data.bySector[sector.name], function(i, fUid){
				tbod.append(createRowForFacilityWithColumns(data.list[fUid], sector.columns))
			})
			table.append(tbod);
		}
		return div.html(table);
	}
	function createRowForFacilityWithColumns(fpoint, cols){
		var tr = $("<tr />");
		$.each(cols, function(i, col){
			var colSlug = col[0];
			tr.append($("<td />", {'class':'col-'+colSlug}).text(fpoint[colSlug] || '–'));
			tr.data('facility-uid', fpoint.uid);
		});
		tr.click(function(){$(this).trigger('facility-click', {'uid': fpoint.uid})});
		tr.mouseover(function(){$(this).trigger('facility-mouseover', {uid: fpoint.uid})})
		tr.mouseout(function(){$(this).trigger('facility-mouseout', {uid: fpoint.uid})})
		fpoint.tr = tr.get(0);
		return tr;
	}
	function populateImageDivForSector(s) {
		var sector = $(facilitySectors).filter(function(){
			if(this.slug===s) {return true;} else {return false;}
		}).get(0);
		
		var naviWrap = $("<div />", {'class':'image-iwrap'});
		imageNavigation.html(naviWrap);
		var ulList = $("<ul />");

		var tt = $("<h4 />").text("Photos for " + sector.name);
		
		var facilities = $.map(facilityData.bySector[sector.slug], function(uid, i){return facilityData.list[uid];})
		
		$(facilities).each(function(i, facility){
            var t = facility.image_id;
			var thumbnailUrl = '/pictures/fwd/'+t+'/140x140';
			var biggerImage = '/pictures/fwd/'+t+'/raw';
			var im = $("<img />", {'src':thumbnailUrl});
			var li = $("<li />", {'class':'img-wrap'}).html(im);
			li.click(function(){
				$('.ui-dialog').remove();
				var pu = $("<div />");
				pu.html($("<img />", {'src':biggerImage}));
				pu.dialog();
			})
			ulList.append(li);
		});
		naviWrap.append(ulList);
		var tot = 0;
		$('li', ulList).each(function(){
			tot += $(this).width();
		});
	}
});

function loadMap(latlngs) {
	var openLayers = $.ajax({
      url: '/static/js/libs/OpenLayers.js',
      dataType: 'script'
    });
    var launchScript = $.ajax({
      url: '/static/js/src/launchOpenLayers.js',
      dataType: 'script'
    });
    $.when(openLayers, launchScript).done(function(unk, status){
	      LaunchOpenLayers("lga-facilities-map", {
					centroidGoogleLatLng: centroid,
					mapHeight: 350,
					zoom: 9,
					localTiles: false,
					points: facilityData.list
				});
    });
}
</script>
