<div id="lga-mdg-table" class="mdg-indicators-only display-block-when-ready">
	<div id="mdg-tabs">
		<ul>
			{% for sector in indicator_list.sectors %}
			<li>
				<a href="#mdg-{{sector.slug}}">
					{{sector.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% for sector in indicator_list.sectors %}
		<div id="mdg-{{sector.slug}}">
		</div>
		{% endfor %}
	</div>
	<script type="text/javascript" charset="utf-8">
		var mdgData = {{indicator_list.grouped_list_json|safe}};
		function mdgDescription(gn){
			var gN = +gn;
			var goalText = [
			    "Goal 1 &raquo; Eradicate extreme poverty and hunger",
			    "Goal 2 &raquo; Achieve universal primary education",
			    "Goal 3 &raquo; Promote gender equality and empower women",
			    "Goal 4 &raquo; Reduce child mortality rates",
			    "Goal 5 &raquo; Improve maternal health",
			    "Goal 6 &raquo; Combat HIV/AIDS, malaria, and other diseases",
			    "Goal 7 &raquo; Ensure environmental sustainability",
			    "Goal 8 &raquo; Develop a global partnership for development"
			];
			return goalText[gn-1];
		}
		function createMdgTableFromArray(ldata) {
			var goals = [];
			var dataByGoal = {};
			var table = $("<table />", {'class': 'mdg-table'}).css({'width': '100%'});
			var tbody = $("<tbody />");
			
			$.each(ldata, function(i, d){
				if(!~goals.indexOf(d.goal_number)) {
					goals.push(d.goal_number);
					dataByGoal[d.goal_number] = [];
				}
				dataByGoal[d.goal_number].push(d);
			});
			$(goals.sort()).each(function(i, gn){
				var goalHeaderRow = $("<tr />").html($("<td />", {'class':'mdg_header', 'colspan':2}).html(mdgDescription(gn)));
				goalHeaderRow.append($("<td />", {'class':'mdg_header'}).text("2011"));
				tbody.append(goalHeaderRow);
				$.each(dataByGoal[gn], function(i, dr){
					var thisRow = $("<tr />");
					var sectorAndSubsector = dr.sector;
					if(dr.subsector!==undefined) {
						sectorAndSubsector += ":<br>" + dr.subsector;
					}
					thisRow.append($('<td />', {'class':'subgoal'}).html(sectorAndSubsector));
					thisRow.append($('<td />').html(dr.name + "<br /><small><em>Data Source: "+ dr.data_source+"</em></small>"));
					thisRow.append($('<td />').text(dr.value));
					tbody.append(thisRow);
				});
			})
			table.html(tbody)
			return table;
		}
		widgets.push(function(){
			$.each(mdgData, function(sectorSlug, dataList){
				$('div#mdg-'+sectorSlug).append(createMdgTableFromArray(dataList))
			})
		});
	</script>
</div>
<script type="text/javascript" charset="utf-8">
	widgets.push(function(){
		$(function(){
			$('#mdg-tabs').tabs();
			$('#lga-mdg-table').addClass('ready');
		});
	})
</script>
