<script type="text/javascript" charset="utf-8">
	document.getElementById('main').className="with-nav";
</script>

<p class="region-breadcrumbs">
	{% for parent in region_hierarchy.parents %}
	<a href="{{profile_root}}{{parent.path}}">{{parent.name}}</a> <span>&gt;</span>
	{% endfor %}
	<a href="{{profile_root}}{{region_hierarchy.path}}">{{region_hierarchy.name}}</a>
</p>

<div id="region-nav">
<ul>
	<li><a href="{{profile_root}}{{state_ro.path}}" data-slug="{{state_ro.slug}}" class="region-nav" data-activity-status="{{region.activity_status_json}}">{{state_ro.name}}</a></li>
	<ul>
	{% for region in lga_siblings %}
		{% ifequal region.slug region_hierarchy.slug %}
		<li><a href="{{profile_root}}{{region.path}}" class="selected" class="region-nav" data-slug="{{region.slug}}" data-activity-status="{{region.activity_status_json}}">{{region.name}}</a></li>
		{% else %}
		<li><a href="{{profile_root}}{{region.path}}" data-slug="{{region.slug}}" class="region-nav" data-activity-status="{{region.activity_status_json}}">{{region.name}}</a></li>
		{% endifequal %}
	{% endfor %}
	</ul>
</ul>
</div>
