{% extends 'base.html' %}
{% block content %}
<div id="content">
	<script type="text/javascript" charset="utf-8">
		//"activator" methods for widgets. called after jquery has loaded.
		var widgets = [];
		
		//to be deprecated, since {}'s don't necessarily preserve order...
		var widgetActivators = {};
	</script>
	{% for widget in widgets %}
	<!-- begin {{widget}} -->
	{% include widget %}
	<!-- end {{widget}} -->
	{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/src/display_mdg_table.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	for(var wi=0, wl=widgets.length; wi < wl; wi++) {
		typeof(widgets[wi])==='function' && widgets[wi]();
	}
	$.each(widgetActivators, function(i,x){x()});
</script>
<script type="text/javascript" charset="utf-8">
	$(function(){
		$('div#region-nav ul ul').height($('div#region-nav').parents().eq(0).height()-20).css({overflow:'auto'})
	});
</script>
{% endblock %}