{% extends 'base.html' %}
{% block content %}
<p class="region-breadcrumbs">
	{% for parent in region_hierarchy.parents %}
	<a href="{{profile_root}}{{parent.path}}">{{parent.name}}</a>
	{% endfor %}
</p>
<h2>
	{{region_hierarchy.name}}
</h2>
<ul>
	{% for region in region_hierarchy.children %}
	<li>
		<a href="{{profile_root}}{{region.path}}" data-slug="{{region.slug}}">{{region.name}}</a>
	</li>
	<ul>
		{% for subregion in region.children %}
		<li>
			<a href="{{profile_root}}{{subregion.path}}" data-slug="{{subregion.slug}}">{{subregion.name}}</a>
		</li>
		{% endfor %}
	</ul>
	{% endfor %}
</ul>
<div id="mdg-table">
	
</div>
{% endblock %}


{% block head %}
<link rel="stylesheet" href="/static/css/mdg_table.css">
{% endblock %}
{% block scripts %}
<script src="/static/js/src_files/display_mdg_table.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	var mdgDataUrl = "{{mdg_data_url|safe}}",
		mdgDataQueryParams = {{mdg_data_query_params|safe}};
	if(mdgDataUrl !== '') {
		$.getJSON(mdgDataUrl, mdgDataQueryParams, function(mdgData){
			$.createMdgTable(mdgData).appendTo($("#mdg-table").empty()).addClass('mdg-table');
		});
	}
</script>
{% endblock %}