{% extends 'base.html' %}
{% block content %}
<div id="content">
	<script type="text/javascript" charset="utf-8">
		var widgetActivators = {};
	</script>
	{% for widget in widgets %}
	<!-- begin {{widget}} -->
	{% include widget %}
	<!-- end {{widget}} -->
	{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/src/display_mdg_table.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$.each(widgetActivators, function(i,x){x()});
</script>
{% endblock %}