{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	ul#doc_sheets {
		list-style-type: none;
	}
	ul#doc_sheets li {
		display: inline;
	}
	ul#doc_sheets li a {
		display: inline-block;
		padding: 5px 12px;
		text-decoration: none;
		border: 1px solid #607890;
		border-radius: 2px;
	}
	/*--ul#doc_sheets li a:hover {
		background-color: #607890;
	}--*/
	ul#doc_sheets li a.active {
		background-color: #607890;
		color: #fff;
	}
</style>
<ul id="doc_sheets">
	{% for sstype in spreadsheet_types %}
	<li>
		<a href="#/{{sstype.id}}" class="{{sstype.id}} ssbutton">
			{{sstype.name}}
		</a>
	</li>
	{% endfor %}
</ul>
<div id="widget-content"></div>
{% endblock %}
{% block scripts %}
<style type="text/css" media="screen">
	.widget {
		border: 1px dotted black;
		margin: 2px 4px;
		padding: 4px 6px;
	}
</style>
<link rel="stylesheet" href="/static/css/src/mdg_table.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/static/js/src/sammy-latest.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/src/jsonRenderer.jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/src/display_mdg_table.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
</script>
<script type="text/javascript" charset="utf-8">
$.sammy(function(context){
	this.get("#/:ss_type", function(){
		if(this.params['ss_type']!=='') {
			var params = {};
			$.getJSON("/spreadsheets/"+this.params['ss_type']+'.json', params, function(data){
				var widgetElem = $("<div />");
				$.each(data.widgets, $.renderJsonWidgetToElem(widgetElem));
				$('#widget-content').html(widgetElem);
				if(data.title) {document.title = data.title;}
				if(data.id) {
					$('#doc_sheets').find('.active').removeClass('active');
					$('#doc_sheets').find('.'+data.id).addClass('active');
				}
			});
		}
	});
	this.run("#/");
});
</script>
{% endblock %}
